{% if page.url %}
  <nav aria-label="tags">
    <ol class="tags">
      {%- if page.ctf != nil -%}
          <li class="tag primary-tag">
            <a href="{{ site.baseurl }}/tags/ctf/">CTF</a>
          </li>
          <li class="tag primary-tag">
            <a href="{{ site.baseurl }}/tags/{{ page.ctf | append: '' | slugify }}/">{{ page.ctf }}</a>
          </li>
      {%- else if page.platform != nil -%}
          <li class="tag primary-tag">
            <a href="{{ site.baseurl }}/tags/{{ page.platform | append: '' | slugify }}/">{{ page.platform }}</a>
          </li>
      {%- endif -%}

      {% for categ in page.category %}
          <li class="tag category">
            <a href="{{ site.baseurl }}/tags/{{ categ | append: '' | slugify }}/">{{ categ }}</a>
          </li>
      {% endfor %}

      {% for tag in page.tags %}
          <li class="tag secondary-tag">
            <a href="{{ site.baseurl }}/tags/{{ tag | append: '' | slugify }}/">{{ tag }}</a>
          </li>
      {% endfor %}
    </ol>
  </nav>
{% endif %}
